html {
    cursor: none;
    font-size: 40px;
    color: green;
    font-family: 'BebasNeueRegular', sans-serif;
    padding: 0px;
    margin: 0px;    
}

*
{
    /*box-sizing: content-box;*/
}

body
{
    margin: 0px;
    background-color: black;
    
}
div {
    padding: 0px;
    margin: 0px;
    
}

#slidearea {
    background-color: yellow;
    height: 200px;
    width: 400px;
    overflow: hidden;  /*stop things escaping */
    /*overflow: visible;*/
    position: relative;
    padding: 0px;
    margin: auto;
    
    
}

@font-face {
		font-family: 'BebasNeueRegular';
		src: url('../fonts/BebasNeue-webfont.eot');
		src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/BebasNeue-webfont.woff') format('woff'), 
		url('../fonts/BebasNeue-webfont.ttf') format('truetype'), 
		url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
		font-weight: normal;
		font-style: normal;
	}