#slideshow_slide1 {
    background-color: black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    
}

#slideshow_slide2 {
    background-color: black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    left: 15px;
    
    
}

#slideshow_slide3 {
    background-color: black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    left: 30px;
    
    
}

.slideshow {
    border: solid #000;
    border-width: 0px;
    border-color: white;
    position: absolute;
    box-sizing: border-box;
    display: block;
    float: left;
}